.projects {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .projects .projectTitle {
    text-align: center;
    color: #3e497a;
    font-size: 60px;
    font-weight: bolder;
  }
  
  .projectList {
    width: 62vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
  
  /* MENU ITEM STYLING */
  
  .projectItem {
    border-radius: 15px;
    width: 450px;
    height: 650px;
    margin: 40px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  .projectItem:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
  }
  
  .projectItem .bgImage {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .projectItem .projectBtn {
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 5px 30px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
  }
  .projectItem .projectDescription {
    font-size: 15px;
    font-weight: normal;
  }

  .projectItem h1 {
    font-size: 25px;
  }
  
  @media only screen and (max-width: 1300px) {
    .projectList {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .projectList {
      grid-template-columns: 1fr;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .projectList {
      height: auto;
      width: 100%;
      place-items: center;
    }
    .projectItem {
      width: 350px;
      height: 500px;
    }
  }